<div class="navbar">
    <header>
        <h1>CMS</h1>
        <nav> 
        <a href="/createblog">Add Blog</a>
        <a href="/portfolio">Go to portfolio</a>
        </nav> 
    </header>   
    </div>